
.navbar-nav > li > .dropdown-menu {
  border-radius: 6px;
  margin-top: -5px; }

.dropdown-menu {
  background-color: #FFFCF5;
  border: 0 none;
  border-radius: 6px;
  display: block;
  margin-top: 10px;
  padding: 0px;
  position: absolute;
  visibility: hidden;
  z-index: 9000;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.1);
  box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.1); }
  .open .dropdown-menu {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible; }
  .dropdown-menu .divider {
    background-color: #F1EAE0;
    margin: 0px; }
  .dropdown-menu .dropdown-header {
    color: #9A9A9A;
    font-size: 12px;
    padding: 10px 15px; }
  .select .dropdown-menu {
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform-origin: 50% -40px;
    -moz-transform-origin: 50% -40px;
    -o-transform-origin: 50% -40px;
    -ms-transform-origin: 50% -40px;
    transform-origin: 50% -40px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
    margin-top: -20px; }
  .select.open .dropdown-menu {
    margin-top: -1px; }
  .dropdown-menu > li > a {
    color: #66615b;
    font-size: 14px;
    padding: 10px 15px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none; }
    .dropdown-menu > li > a img {
      margin-top: -3px; }
  .dropdown-menu > li > a:focus {
    outline: 0 !important; }
  .btn-group.select .dropdown-menu {
    min-width: 100%; }
  .dropdown-menu > li:first-child > a {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
  .dropdown-menu > li:last-child > a {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }
  .select .dropdown-menu > li:first-child > a {
    border-radius: 0;
    border-bottom: 0 none; }
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    background-color: #31bbe0;
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    text-decoration: none; }
  .dropdown-menu.dropdown-primary > li > a:hover, .dropdown-menu.dropdown-primary > li > a:focus {
    background-color: #7A9E9F; }
  .dropdown-menu.dropdown-info > li > a:hover, .dropdown-menu.dropdown-info > li > a:focus {
    background-color: #31bbe0; }
  .dropdown-menu.dropdown-success > li > a:hover, .dropdown-menu.dropdown-success > li > a:focus {
    background-color: #7AC29A; }
  .dropdown-menu.dropdown-warning > li > a:hover, .dropdown-menu.dropdown-warning > li > a:focus {
    background-color: #F3BB45; }
  .dropdown-menu.dropdown-danger > li > a:hover, .dropdown-menu.dropdown-danger > li > a:focus {
    background-color: #EB5E28; }

  .navbar-nav > li > .dropdown-menu,
  .dropdown .dropdown-menu {
    transform: translate3d(0px, -40px, 0px);
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.3s ease 0s, height 0s linear 0.35s; }

  .navbar-nav > li.open > .dropdown-menu, .dropdown.open .dropdown-menu {
    transform: translate3d(0px, 0px, 0px); }

  .navbar-nav > li > .dropdown-menu:before {
    border-bottom: 11px solid #F1EAE0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 12px;
    top: -11px; }

  .navbar-nav > li > .dropdown-menu:after {
    border-bottom: 11px solid #FFFCF5;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 12px;
    top: -10px; }

  .navbar-nav.navbar-left > li > .dropdown-menu:before {
    right: auto;
    left: 12px; }

  .navbar-nav.navbar-left > li > .dropdown-menu:after {
    right: auto;
    left: 12px; }

@media (max-width: 991px) {
  .sidebar {
    display: none; }

  .dropdown-menu .divider {
    background-color: rgba(229, 229, 229, 0.15); }

  .dropdown-menu {
    display: none; }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      background-color: transparent; }

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
